body {margin-left:20px; margin-top:15px}
h1 {font-family:arial; font-size:18px; color:red}
h2 {font-family: Helvetica; color: goldenrod;}
h3 {font-family:arial; font-size:18px; color:gray}
li {font-family:arial; font-size:18px; color:black}
p {font-family: arial; font-size: 14; color: black;}